version: '3.8'

services:
  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - mean-network
    restart: unless-stopped

  backend:
    image: murugan29/mean-backend:latest
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - MONGODB_URI=mongodb://mongo:27017/mean-crud
      - PORT=8080
    volumes:
      - ./db.config.js:/app/app/config/db.config.js
    depends_on:
      - mongo
    networks:
      - mean-network
    restart: unless-stopped

  frontend:
    image: murugan29/mean-frontend:latest
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - mean-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx-proxy.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    networks:
      - mean-network
    restart: unless-stopped

volumes:
  mongo-data:

networks:
  mean-network:
    driver: bridge
